<p><strong>Dear {{fullName}}</strong></p>

<br />
<p>We received a request to reset the password on your account. Please use the new password to login and complete the reset.</p>

<p>Password: <strong>{{ newPassword }}</strong></p>

<p>Please click on below link to activate your account.</p>
<br />

<a href="{{ loginPageUrl }}">
    <input type="submit" class="button" value="Log in" style="
        background-color: #6366f1;
        border: none;
        color: white;
        padding: 8px 18px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
    " />
</a>

<br />
<p>If the link is not working, copy below link into your web browser and
  activate the account.</p>
<p><u><i>{{loginPageUrl}}</i></u></p>


<p>Thank you,<br/>Admin</p>